.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  font-size: 0.9;
  margin-right: 20px;
  text-transform: uppercase;
}

.nav-link-wrapper {
  border-bottom: 1px solid transparent;
  height: 23px;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}
